/* Print Styles */
@media print {
    body * {
        visibility: hidden;
    }
    #invoice-preview-content, #invoice-preview-content * {
        visibility: visible;
    }
    #invoice-preview-content {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }
    .print-hidden {
        display: none;
    }
    .invoice-preview-container {
        font-size: 10px; /* Adjust font size for print */
        box-shadow: none !important;
        border: none !important;
    }
}